Lab_Tutorial_Quartus_and_ModelSim_Download_and_Setup/Lab_1_Tutorial - Quartus and ModelSim download and setup.pdf
**/images
**/video
**/quartus
**/*.wlf
**/*.mpf
**/*.mti
**/vhdl_files/work
**/*.docx
**/transcript
/Reports
**/*.bak
Lab_3_Bitwise Shift_Rotations/Mai_Lab_3_Operations.pdf
